/.vscode/
/build/
/mlruns/
/logs/
/src.egg-info/
/figures/
/dist/
/images/
/results/
/notebooks/
/work/
/notebooks/.ipynb_checkpoints/
metrics_mlflow_*
best_metrics_mlflow_*
bernn.egg-info/
/DeepExplainer/
MSstats*
bernn.egg-info/
/bernn/__pycache__/
/bernn/dl/__pycache__/
/bernn/dl/models/__pycache__/
/bernn/dl/models/pytorch/__pycache__/
/bernn/dl/models/pytorch/utils/__pycache__/
/bernn/utils/__pycache__/
/bernn/dl/train/__pycache__/
/bernn/ml/__pycache__/
/bernn/ml/train/__pycache__/
/data/PXD015912/Mapping_file_PXD015912.xlsx
/data/PXD015912/Peptide_intensity_matrix_b9369842-f3cf-4383-9e5c-6734dadcfbc9.csv
/data/PXD015912/matrix.csv
/data/
.conda
.git