# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/

# Logs and data
logs/
*.log
mlruns/
**/__pycache__/
bernn/dl/train/pytorch/__pycache__/
bernn/dl/train/pytorch/utils/__pycache__/
bernn/ml/train/__pycache__/
/home/simonp/BERNN_MSMS/.github/workflows/tests.yml
/home/simonp/BERNN_MSMS/.github/workflows/python-tests.yml
/home/simonp/BERNN_MSMS/.github/workflows/publish.yml
/home/simonp/BERNN_MSMS/.github/workflows/ci.yml