numpy==1.24.3  # Compatible with TensorFlow
scikit-learn==1.0.2
pandas==1.4.4
scikit-optimize==0.9.0
matplotlib==3.6.3
seaborn==0.12.2
tabulate==0.9.0
scipy==1.9.1
tqdm
joblib==1.2.0  # Updated to satisfy imbalanced-learn
notebook==6.5.6
ipywidgets==7.7.5
jupyterlab==3.6.6
ax-platform==0.2.10
pycombat
torch==2.0.1  # Compatible with older typing-extensions
torchvision==0.15.2  # Compatible with torch 2.0.1
tensorboard==2.13.0  # Updated to match TensorFlow
tensorboard-data-server>=0.7.0,<0.8.0  # Required by TensorBoard
tensorflow==2.13.1  # Updated to the latest compatible version
tensorflow-estimator==2.13.0  # Compatible with TensorFlow
typing-extensions==4.5.0  # Compatible with TensorFlow
psutil==5.9.4
scikit-image
nibabel
mpmath==1.3.0
patsy==0.5.3
umap-learn==0.5.3
shapely==2.0.0
numba==0.57.1
rpy2==3.5.7
openpyxl==3.0.10
xgboost==1.0.0
torch-geometric
neptune
fastapi==0.89.1
mlflow[extras]==2.12.1  # Updated to match the latest version
importlib-metadata>=3.7.0,<8  # Compatible with MLflow
threadpoolctl==3.1.0
protobuf==3.20.3  # Downgraded to satisfy streamlit and tensorboardx
shap
pykan
pytest
pytest-cov
llvmlite==0.40.1
FuzzyTM>=0.4.0  # Required by gensim
blosc2~=2.0.0  # Required by tables
cython>=0.29.21  # Required by tables
jedi==0.18.2  # Downgraded to satisfy python-lsp-server and spyder
requests==2.31.0  # Downgraded to satisfy conda-repo-cli
PyYAML==6.0.1  # Downgraded to satisfy conda-repo-cli
python-dateutil==2.8.2  # Downgraded to satisfy conda-repo-cli
nbformat==5.9.2  # Downgraded to satisfy conda-repo-cli
# R packages:
# install.packages("harmony")
# install.packages("sva")
# BiocManager::install("zinbwave")
# install.packages("factor")
# install.packages("devtools")
# devtools::install_github("immunogenomics/lisi")
# install.packages("https://cran.r-project.org/src/contrib/Archive/gPCA/gPCA_1.0.tar.gz", repos = NULL, type = "source")
# devtools::install_github("dengkuistat/WaveICA",host="https://api.github.com")

